python-dotenv
django
djangorestframework
django-filter
djangorestframework-simplejwt
djangorestframework
simplejwt
django-cors-headers
django-sslserver
drf-yasg
django-admin-interface
django-colorfield